:root {
	--scrollbar-bg-color: #313642;
	--scrollbar-thumb-color: #2a2d35;
	--scrollbar-thumb-bg-color: rgba(255, 255, 255, 0.1);
	--scrollbar-thumb-bg-hover-color: rgba(255, 255, 255, 0.2);
	--scrollbar-thumb-shadow-color: rgba(0, 0, 0, 0.25);
}

:root.light,
:root[theme="light"] {
	--scrollbar-bg-color: #f6f6f7;
	--scrollbar-thumb-color: #e7e7e7;
	--scrollbar-thumb-bg-color: #1e87f0;
	--scrollbar-thumb-bg-hover-color: #00ff95;
	--scrollbar-thumb-shadow-color: rgba(0, 0, 0, 0.25);
}

:root.dark,
:root[theme="dark"] {
	--scrollbar-bg-color: #02101f;
	--scrollbar-thumb-color: #031222;
	--scrollbar-thumb-bg-color: #00ff95;
	--scrollbar-thumb-bg-hover-color: #1e87f0;
	--scrollbar-thumb-shadow-color: rgba(0, 0, 0, 0.25);
}

::selection {
	background: #00ff95;
	color: #ffffff;
	-webkit-text-fill-color: #333333;
}

::-moz-selection {
	color: #ffffff;
	background: #00ff95;
	-webkit-text-fill-color: #333333;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--scrollbar-bg-color);
	transition: all 100ms ease;
}

::-webkit-scrollbar:hover,
::-webkit-scrollbar:active,
::-webkit-scrollbar:focus,
::-webkit-scrollbar-corner:hover,
::-webkit-scrollbar-corner:active,
::-webkit-scrollbar-corner:focus {
	width: 1rem;
	height: 1rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-bg-color);
	min-height: 60px;
	box-shadow: 0px 0px 5px var(--scrollbar-thumb-shadow-color);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-bg-hover-color);
}

.eb-work-item-custom-image-effect .eb-work-item-img {
	position: relative;
}

.eb-work-item-custom-image-effect .eb-work-item-img img {
	position: absolute;
	inset: 0;
	translate: 0 0;
	transition: translate 1s linear;
}

.eb-work-item-custom-image-effect .eb-work-item-img-wrap {
	min-height: 240px;
	max-height: 240px;
}

.eb-work-item-custom-image-effect .eb-work-item-title h5 {
	font-size: 18px;
}

.eb-work-item-custom-image-effect:active .eb-work-item-img img,
.eb-work-item-custom-image-effect:focus .eb-work-item-img img,
.eb-work-item-custom-image-effect:hover .eb-work-item-img img {
	translate: 0 calc(-100% + 240px);
}